@use '../__builtins__/styles/common.scss' as *;

$array-items-prefix-cls: '#{$formily-prefix}-array-items';

.#{$array-items-prefix-cls}-item-inner {
  visibility: visible;
}

.#{$array-items-prefix-cls} {
  .#{$formily-prefix}-array-base-addition {
    width: 100%;
    border: var(--el-border-width, 1px) dashed var(--el-border-color);

    &:hover {
      background-color: var(--el-color-white);
      border-color: var(--el-border-color-hover);
    }

    &:active,
    &:focus {
      background-color: var(--el-color-white);
      border-color: var(--el-color-primary);
    }
  }
}

.#{$array-items-prefix-cls}-card {
  display: flex;
  border: 1px solid var(--el-border-color);
  margin-bottom: 10px;
  padding: 3px 6px;
  background: var(--el-color-white);
  justify-content: space-between;

  .#{$formily-prefix}-form-item:not(.#{$formily-prefix}-form-item-feedback-layout-popover) {
    margin-bottom: 0 !important;

    .#{$formily-prefix}-form-item-help {
      position: absolute;
      font-size: 12px;
      top: 100%;
      background: var(--el-color-white);
      width: 100%;
      margin-top: 3px;
      padding: 3px;
      z-index: 1;
      border-radius: 3px;
      box-shadow: 0 0 10px var(--el-border-color);
    }
  }
}

.#{$array-items-prefix-cls}-divide {
  display: flex;
  border-bottom: 1px solid var(--el-border-color);
  padding: 10px 0;
  justify-content: space-between;

  .#{$formily-prefix}-form-item:not(.#{$formily-prefix}-form-item-feedback-layout-popover) {
    margin-bottom: 0 !important;

    .#{$formily-prefix}-form-item-help {
      position: absolute;
      font-size: 12px;
      top: 100%;
      background: var(--el-color-white);
      width: 100%;
      margin-top: 3px;
      padding: 3px;
      z-index: 1;
      border-radius: 3px;
      box-shadow: 0 0 10px var(--el-border-color);
    }
  }
}
