// @use '../assets//css/base.scss';
@use './reset.scss';
@use './common.scss';
@use './global.scss';
@use './formily.scss';
@use './scss/index.scss';
@use './entry.scss';
@use './base.scss';
@use 'element-plus/theme-chalk/src/index.scss' as *;
// @use '@igourd/plugins/grid-style' as *;
// @use '@/ag-grid-table/reset-ag-grid.scss';
.cursor-not-allowed.cursor-not-allowed.cursor-not-allowed {
  cursor: not-allowed;
}

.reset-form {
  .el-form-item {
    margin-bottom: 20px;

    .el-form-item__label {
      font-weight: 500;
      color: #323232;
      height: 36px;
      line-height: 36px;
    }

    .el-input,
    .el-select {
      height: 36px;
      line-height: 36px;
    }

    .el-select__wrapper {
      min-height: 36px;
      line-height: 36px;
    }
  }

  .el-form-item--label-top {
    .el-form-item__label {
      margin-bottom: 2px;
      font-weight: bold;
      color: #323232;
    }
  }
}

.clear-form {
  .el-form-item {
    margin-bottom: 20px;

    .el-form-item__label {
      font-size: 12px;
      font-weight: 500;
      color: #323232;
      height: 22px;
      line-height: 22px;
      margin-bottom: 0;
    }

    // .el-input,
    // .el-select,
    // .el-date-editor {
    //   width: 100% !important;
    //   height: 24px !important;
    //   line-height: 24px !important;
    // }

    // .el-select__wrapper,
    // .el-input__wrapper {
    //   font-size: 12px;
    //   height: 24px;
    //   min-height: 24px;
    //   line-height: 24px;
    // }
    // .el-input__inner {
    //   height: 100%;
    // }
  }

  .el-form-item--label-top {
    .el-form-item__label {
      margin-bottom: 2px;
      font-weight: bold;
      color: #323232;
    }
  }
}
.icon-icon_details-import {
  color: #0d99ff;
}
