.error-row {
  background: var(--el-color-error-light-9) !important;
}
.error-row :global(.el-table__cell) {
  background: transparent !important;
}
/* :deep(.el-table--striped .el-table__body tr.error-row td.el-table__cell) {
  background: transparent !important;
} */
.el-table .success-row {
  --el-table-tr-bg-color: var(--el-color-success-light-9);
}
