@use '../__builtins__/styles/common.scss' as *;

.#{$formily-prefix}-form-drawer {
  .el-drawer__body {
    display: flex;
    flex-direction: column;
  }

  &-body {
    flex: 1;
    overflow: auto;
    padding: var(--el-dialog-padding-primary);
  }

  &-footer {
    padding: var(--el-dialog-padding-primary);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
